@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.preview-page-skeleton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@layer base {
  * {
    @apply font-[family-name:var(--font-geist-sans)];
  }
}